.todo-list{
    width:100vw;
}

div.header{
    display:flex;
    width:100vw;
    padding:10px;
}

div.title{
    font-size:30px;
    padding-right:10px;
}

div.todo{
    border:2px dashed black;
    padding:10px;
    box-shadow: 5px 5px 15px 5px #000000;
}